/*** GENRAL STYLES ***/
/** Varibles Declaration **/
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
:root {
    /* colour variables */
    --light-grey: #eaeaea;
    --ultra-light-grey: #fbfbfb;
    --normal-blue: rgb(0, 26, 255);
    --dark-blue: rgb(0, 17, 167);

    /* Font variables */
    --font-family: 'Muli', sans-serif;

    /* Media Query Variables */
    --max-width: 75vw;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    margin: 0;
    background: var(--ultra-light-grey);
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 2px;
}

a:link,
a:visited {
    color: var(--normal-blue);
    text-decoration: none;
    transition: 350ms color ease;
}

a:hover {
    color: var(--dark-blue);
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


/*** NAV ***/
.nav {
    position: fixed;
    display: flex;
    top: 50%;
    width: 11vw;
    background: white;
    border: 2px solid var(--light-grey);
    transform: translateY(-50%);
}
.nav-main-links {
    left: 0;
}

.nav-social-links {
    right: 0;
}

.nav-social-links .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.nav-list {
    margin: 0 auto;
    padding: 0;
}

.nav-list-item {
    list-style-type: none;
}

.nav-main-link-item a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 2px;
    background: var(--dark-blue);
    transition: 350ms width ease;
}

.nav-main-link-item a:hover::after {
    width: 100%;
}

.nav-social-link-item {
    font-size: 2.5vw;
}

/*** MAIN ***/
.container {
    max-width: var(--max-width);
    margin: 0 auto;
}
/** Hero Banner **/
.hero-banner-title,
.hero-banner-subtitle  {
    text-align: center;
}
.hero-banner-title {
    font-size: 3vw;
}
/** Projects Section **/

/** Skills Section **/

/** Social Section **/


/*** FOOTER ***/
footer {
    background: var(--light-grey);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
}